*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 3.2rem 1rem;
}

img {
  max-width: 100%;
}

hr {
  border-top: none;
  margin-bottom: 3.2rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
}

form {
  &.ng-submitted.ng-touched.ng-invalid {
    input,
    textarea {
      &:not(&.ng-valid) {
        border-color: red;
      }
    }
  }
}

input,
textarea {
  font-style: inherit;
  color: #555;
  font-family: inherit;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;

  &.ng-invalid.ng-touched {
    border-color: red;
  }
}

button {
  display: inline-block;
  background-color: #1967d2;
  border: none;
  color: #fff;
  border-radius: 6px;
  padding: 0.8rem 2rem;
  letter-spacing: 1px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;

  &.outline {
    background-color: transparent;
    border: 1px solid #1967d2;
    color: #1967d2;

    &:hover {
      color: #fff;
      border-color: #3a7cd9;
    }
  }

  &.bg-danger {
    background-color: rgb(193, 64, 64);

    &:hover {
      background-color: rgb(146, 35, 35);
    }
  }

  &.bg-green {
    background-color: green;

    &:hover {
      background-color: rgb(79, 114, 26);
    }
  }

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }

  &:hover {
    background-color: #3a7cd9;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}