.user-details {
  &__data {
    p:first-of-type {
      margin-bottom: 0.4rem;
    }

    p:last-of-type {
      margin-bottom: 1rem;
    }
  }

  .authenticators {
    &:not(:empty) {
      margin-bottom: 2.4rem;
    }
  }

  .lds-ring {
    display: block;
  }

  & > .content {
    display: flex;

    & > * {
      width: 50%;
    }
  }
}
